<h1>user profile</h1>

<div>
  <label for="sn">Surname:</label>
  <input type="text" name="surname" id="sn" />
  <label for="fn">Name:</label>
  <input type="text" name="firstname" id="fn" />

  <button>Save</button>
  <button>Cancel</button>
</div>
